<section data-ng-controller="EventController">
    <div class="row bkgnd event">
    </div>
    <div class="jumbotron text-center">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
				<h1>October 10, 2015</h1>
				<h3>6pm - 10pm</h3>
                <hr>
                <h2 style="margin-bottom: 20px;">The Power Plant Texas Grill<br>
					<small>On The Guadalupe River</small></h2>

				<h3><em>Featuring...</em></h3>

				<h4 class="event-feature"><b>Dinner served</b><em> - with apps, beef or chicken burger bar &amp; fixins, sides &amp; drink</em></h4>
				<h4 class="event-feature"><b>Cash bar available</b><em> - you don't need to spike the punch!</em></h4>
				<h4 class="event-feature"><b>Music</b><em> - TBD (Why not add to our <a href="#!/tracks">Playlist</a>?)</em></h4>
				<h4 class="event-feature"><b>Your old flame</b><em> - see what 20 years did!</em></h4>

                <a class="btn btn-default btn-outline" href="/#!/register" style="margin-top: 30px">Get tickets</a>
            </div>
        </div>
    </div>
</section>