<section data-ng-controller="RegisterController">
	<div class="loader" ng-if="loading">
		<img src="modules/core/img/loaders/loader.gif">
	</div>
	<div class="col-sm-8 col-sm-offset-2 text-center"
		data-ng-show="{{ user.registration.registered }}">
		<h2>You're registered!!</h2>
		<div class="col-sm-10 col-sm-offset-1 text-left">
			<h4>Registration Details:</h4>
			<ul>
				<li>Number of People: <b>{{ user.registration.guests }}</b>
					<a href="" ng-click="showGuests = !showGuests">Change</a>
				</li>
				<li>Payments:
					<ul>
						<li data-ng-repeat="payment in user.registration.payments">Paid: {{ payment.amount / 100 | currency }} on {{ payment.created*1000 | date:'medium' }}</li>
					</ul>
				</li>
			</ul>
			<div data-ng-show="showGuests">
				<form stripe-form="stripeCallback">
					<fieldset>
						<div class="form-group col-sm-12">
							<label class="col-sm-8 text-right" for="guests">Number of People Attending</label>
							<div class="col-sm-4">
								<input type="number" id="changeGuests" name="guests" class="form-control" data-ng-model="guests" min="1" step="1">
							</div>
						</div>
						<div class="col-sm-10 col-sm-offset-1 text-right">
							<h4>Total: {{ guests * price/100 | currency }}</h4>
							<h4>Paid to date: {{ paidToDate() / 100 | currency }}</h4>
							<h4>Total due: <b>{{ (guests * price/100 - paidToDate() / 100) | currency }}</b></h4>
						</div>
						<div class="form-group col-sm-4 col-sm-offset-4 submitCC">
							<button class="btn btn-primary pull-right" type="submit">Submit</button>
						</div>
					</fieldset>
				</form>
			</div>
			<p class="text-center">Please contact us at <a href="mailto:seguinhs1995@gmail.com">seguinhs1995@gmail.com</a>
				if you need assistance modifying your registration.</p>
		</div>
	</div>
	<div ng-hide="{{ user.registration.registered }}">
		<h1 class="register-heading text-center">Buy Tickets</h1>
	    <div ng-if="error.message" ng-class="['error', 'alert', error.level]" ng-bind="error.message"></div>
		<div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
			<form stripe-form="stripeCallback">
				<fieldset>
					<div class="form-group col-sm-12">
						<label class="col-sm-8 text-right" for="guests">Number of People Attending</label>
						<div class="col-sm-4">
							<input type="number" id="guests" name="guests" class="form-control" data-ng-model="guests" placeholder="#" min="1" step="1">
						</div>
					</div>
					<div class="col-sm-10 col-sm-offset-1 text-right">
						<h4>Total: {{ guests * price/100 | currency }}</h4>
					</div>
					<hr class="col-sm-12">
					<div class="form-group col-sm-12">
						<label for="name">Name</label>
						<input type="text" id="name" name="name" class="form-control" data-ng-model="name" placeholder="Name">
					</div>
					<div class="form-group col-sm-12">
						<label>Billing Address</label>
						<input type="text" id="addressLine1" name="addressLine1" class="form-control" data-ng-model="addressLine1" placeholder="Street">
					</div>
					<div class="form-group col-sm-12">
						<input type="text" id="addressCity" name="addressCity" class="form-control" data-ng-model="addressCity" placeholder="City">
					</div>
					<div class="form-group col-sm-4">
						<input type="text" id="addressState" name="addressState" class="form-control" data-ng-model="addressState" placeholder="State">
					</div>
					<div class="form-group col-sm-8">
						<input type="text" id="addressZip" name="addressZip" class="form-control" data-ng-model="addressZip" placeholder="Zip">
					</div>
					<hr class="col-sm-12">
					<div class="form-group col-sm-12">
						<label for="card-number">Card Number</label>
						<input name="card-number" class="form-control" ng-model="number" placeholder="Number" payments-format="card" payments-validate="card" />
					</div>
					<div class="form-group col-sm-4 col-xs-7">
						<label for="card-expire">Expires</label>
						<input name="card-expire" class="form-control" ng-model="expiry" placeholder="Exp" payments-format="expiry" payments-validate="expiry" />
					</div>
					<div class="form-group col-sm-4 col-xs-5">
						<label for="card-cvc">CVC Code</label>
						<input name="card-cvc" class="form-control" ng-model="cvc" placeholder="CVC" payments-format="cvc" payments-validate="cvc" />
					</div>
					<div class="form-group col-sm-4 submitCC">
						<button class="btn btn-primary pull-right" type="submit">Submit</button>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</section>