* {
	font-family: 'Open Sans', sans-serif;
}
.content {
	min-height: 75vh;
}
.loader {
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background: #fefefe;
	background: rgba(255, 255, 255, 0.8);
	position: fixed;
	z-index: 999;
}
.loader img {
	margin: 50%;
	transform: translateX(-50%) translateY(-50%);
}
.navbar-brand {
	padding: 0;
}
footer {
	background: #000;
	color: #fff;
	padding-bottom: 50px;
}
.footer-social-btn {
	display: block;
	width: 60px;
	height: 60px;
	background: #fff;
	overflow: hidden;
	border-radius: 40px;
	margin: 30px auto 10px;
	position: relative;
}
.footer-social-btn img, .footer-social-btn h1 {
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin: 0;
}
.footer-social-btn h1 {
	margin-top: 2px;
	margin-left: 1px;
}
.bkgnd {
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	width: 100%;
	height: 80vh;
	position: absolute;
	top: 50px;
	left: 15px;
	z-index: -1;
}
.bkgnd.home {
	background-image: url(/modules/core/img/class-photo.jpg);
}
.bkgnd.event {
	background-image: url(/modules/core/img/power-plant.jpg);
}
.container .jumbotron {
	background-color: #ddd;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 0;
	color: #fff;
	height: 80vh;
}
.event-feature {
	font-size: 16px;
}
@media (max-width: 420px) {
	.bkgnd,
	.container .jumbotron {
		height: 100vh;
	}
}
.jumbotron h1  {
	font-size: 54px;
}
.jumbotron .social-btn {
	background: white;
  	border-radius: 2px;
  	margin: 0 10px;
}
.countdown {
	margin-bottom: 50px;
}
.btn {
	text-transform: uppercase;
	letter-spacing: 1px;
}
.btn-outline {
	background: transparent;
	border: 1px solid white;
	color: white !important;
	padding: 8px 15px;
}
.btn-outline:hover,
.btn-outline:focus {
	background: transparent;
	box-shadow: 0 1px 15px -2px #fff;
}
.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
.register-heading {
	margin-bottom: 50px;
}
.form-group {
	text-align: left;
}
.inverse {
	color: white !important;
	padding: 8px 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.forgot-password {
	margin-top: 20px;
}
input[type="number"] {
	text-align: right;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    margin-left: 10px;
}
input[name="guests"],
input[name="changeGuests"] {
	font-size: 150%;
	height: 150%;
}
.submitCC {
	margin-top: 25px;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty, .ng-invalid {
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}
.error {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1000;
  box-shadow: 0 6px 20px -10px;
}
.ticket {
	background-size: 100% auto;
	background: url('../img/ticket.png') no-repeat center top;
	min-height: 200px;
	margin: 20px 0;
}
.ticket h2, .ticket h3, .ticket h4, .ticket hr {
	font-family: 'Impact', 'Charcoal', 'Arial Black', sans-serif;
	margin: 0;
	text-transform: uppercase;
}
.ticket h2 {
	font-size: 36px;
	margin-top: 20px;
}
.ticket h3 {
	font-size: 30px;
}
.ticket h4 {
	font-size: 24px;
}
/*.ticket h2.admit {

}*/
/*.submitCC button {

}*/

.pay-toggle {
	width: 100%;
}
.pay-toggle label {
	width: 50%;
}
label[for="guests"] {
	font-size: 16px;
}
label[for="guests"] > small {
	font-weight: normal;
}
.alert.register-help {
	margin-top: 25px;
}
.alert.register-help p {
	font-size: 16px;
}

@media (max-width: 768px) {
	.ticket {
		background: #F9D53D;
		padding: 10px;
	}
	.ticket > div {
		text-align: center !important;
	}
	.well h3 {
		margin-top: 0;
	}
}