<section ng-controller="PhotosController">
    <div ng-if="error.message" ng-class="['error', 'alert', error.level]" ng-bind="error.message"></div>
    <div class="page-header">
        <h1>Photos</h1>
        <p>Upload a photo</p>
    </div>
    <div>
        <input type="file" ng-model="fileSelect" ng-change="handleFileSelect()"/>
    </div>
    <div id="image-container" style="display:flex;">
        <canvas id="memeCanvas" width="500" height="500"></canvas>
        <div>
            <span>Top Line:</span><br/>
            <textarea ng-model="topLine" ng-change="redrawMeme()"></textarea><br/>
            <span>Bottom Line:</span><br/>
            <textarea ng-model="bottomLine" ng-change="redrawMeme()"></textarea><br/>
            <button id="saveBtn" ng-click="saveFile()">Save</button>
        </div>
    </div>
</section>