{
    "env": {
        "jquery": 2,
        "node": 2,
        "browser": 2
    },
   "parserOptions": {
        "ecmaVersion": 5,
        "sourceType": "script",
        "ecmaFeatures": {}
    },
    "extends": [
        "eslint:recommended"
    ],
    "globals": {
    },
    "rules": {
        "constructor-super": 2,
        "for-direction": 2,
        "getter-return": 2,
        "no-case-declarations": 2,
        "no-class-assign": 2,
        "no-compare-neg-zero": 2,
        "no-cond-assign": 2,
        "no-console": 2,
        "no-const-assign": 2,
        "no-constant-condition": 2,
        "no-control-regex": 2,
        "no-debugger": 2,
        "no-delete-var": 2,
        "no-dupe-args": 2,
        "no-dupe-class-members": 2,
        "no-dupe-keys": 2,
        "no-duplicate-case": 2,
        "no-empty-character-class": 2,
        "no-empty-pattern": 2,
        "no-empty": 2,
        "no-ex-assign": 2,
        "no-extra-boolean-cast": 2,
        "no-extra-semi": 2,
        "no-fallthrough": 2,
        "no-func-assign": 2,
        "no-global-assign": 2,
        "no-inner-declarations": 2,
        "no-invalid-regexp": 2,
        "no-irregular-whitespace": 2,
        "no-mixed-spaces-and-tabs": 2,
        "no-new-symbol": 2,
        "no-obj-calls": 2,
        "no-octal": 2,
        "no-redeclare": 2,
        "no-regex-spaces": 2,
        "no-self-assign": 2,
        "no-sparse-arrays": 2,
        "no-this-before-super": 2,
        "no-undef": 2,
        "no-unexpected-multiline": 2,
        "no-unreachable": 2,
        "no-unsafe-finally": 2,
        "no-unsafe-negation": 2,
        "no-unused-labels": 2,
        "no-unused-vars": 2,
        "no-useless-escape": 2,
        "require-yield": 2,
        "use-isnan": 2,
        "valid-typeof": 2,
        "curly": 2,
        "eqeqeq": ["error", "smart"],
        "latedef": 0,
        "camelcase" : 2,
        "nonew": 0,
        "plusplus": 0,
        "regexp": 0,
        "semi": ["error", "always"],
        "strict": 2,
        "trailing": 0,
        "asi": 0,
        "boss": 0,
        "debug": 0,
        "eqnull": 0,
        "evil": 0,
        "expr": 0,
        "indent":  ["warn", "tab", {
            "VariableDeclarator": { "var": 2, "let": 2, "const": 3 },
            "SwitchCase": 1
        }],
        "funcscope": 0,
        "globalstrict": 0,
        "iterator": 0,
        "lastsemic": 0,
        "laxbreak": 0,
        "laxcomma": 0,
        "loopfunc": 0,
        "multistr": 0,
        "proto": 0,
        "regexdash": 0,
        "scripturl": 0,
        "shadow": 0,
        "sub": 0,
        "supernew": 0,
        "couch": 0,
        "devel": 0,
        "dojo": 0,
        "mootools": 0,
        "node": 0,
        "nonstandard": 0,
        "prototypejs": 0,
        "rhino": 0,
        "wsh": 0,
        "nomen": 0,
        "passfail": 0,
        "maxlen": 120,
        "maxparams" : 4,
        "maxstatements" : 0,
        "maxerr": 100
    }
}
