.error {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  box-shadow: 0 6px 20px -10px;
}
.spotify-login {
	margin-bottom: 20px;
}
.list-group-item {
  position: relative;
}
.tracksearch {
  margin-bottom: 25px;
}
.tracksearch > .input-group-addon {
  min-width: 62px;
  padding: 0 15px;
}
.album-cover {
  min-width: 150px;
  text-align: center;
}
.play-btn {
  margin-top: 20px;
}
.track-name {
  padding-left: 10px;
  padding-right: 0;
}
.track-name a {
  display: block;
}
.track-info {
  min-width: 270px;
  padding-top: 20px;
  text-align: right;
}
.list-group-item-text {
	display: block;
}
.glyphicon-play,
.glyphicon-pause {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 10px 10px 10px 15px;
  font-size: 40px;
  border-radius: 35px;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  border: 2px solid #fff;
  border: 2px solid rgba(255, 255, 255, 0.8);
  cursor: pointer;
}
.mirror {
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}
.track-info i.glyphicon,
.track-info .vote-count {
  font-size: 22px;
  border-radius: 21px;
  color: #ddd;
  color: rgba(0, 0, 0, 0.57);
  border: 2px solid #ddd;
  border: 2px solid rgba(0, 0, 0, 0.57);
  margin: 8px;
  width: 42px;
  text-align: center;
  padding: 10px 10px 7px 7px;
  cursor: pointer;
}
.track-info i.glyphicon:last-child {
  margin-left: 30px;
}
.track-info .glyphicon.glyphicon-thumbs-down {
	position: relative;
	top: 5px;
}
.track-info .vote-count {
	border: none;
	margin: 0;
	cursor: default;
}
.track-info i.glyphicon.upvoted {
  color: darkgreen;
  border: 2px solid darkgreen;
}
.track-info i.glyphicon.downvoted {
  color: darkred;
  border: 2px solid darkred;
}
@media (max-width: 768px) {
  .track-info i.glyphicon,
  .track-info .vote-count {
    margin: 10px 5px;
  }
  .track-name,
  .track-info {
    text-align: center;
  }
}
.track-item {
  position: relative;
  opacity: 1;
  top: 0px;
  -webkit-transition: top ease 200ms;
  -moz-transition: top ease 200ms;
  -o-transition: top ease 200ms;
  transition: top ease 200ms;
}
.track-item.ng-enter {
    opacity: 0;
    top: -50px;
}
